.content__blocks {

	> p,
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6,
	> ul,
	> ol,
	> blockquote,
	> .wp-block-columns,
	> .wp-block-button,
	> .wp-block-image,
	> .wp-block-gallery,
	> .wp-block-cover,
	> .wp-block-embed,
	> .wp-block-video,
	> .wp-block-table {
		margin: 0 auto 24px;
		max-width: calc(100% - 40px);
		width: 1160px;
	}

	> .wp-block-embed-youtube,
	> .wp-block-embed-vimeo {
		margin: 64px auto 64px;

		.wp-block-embed__wrapper {
			padding-bottom: 58.6%;
			position: relative;

			iframe {
				@include position(absolute, 0 0 0 0);
				height: 100%;
				width: 100%;
			}
		}
	}

	> .wp-block-embed-twitter,
	> .wp-block-embed-instagram {
		margin: 64px auto 64px;
		max-width: 500px;
	}

	> figure img {
		height: auto;
		width: 100%;
	}

	> ul,
	> ol {
		padding-left: 30px;
	}

	> hr {
		margin: 0 auto 16px;
		max-width: calc(100% - 40px);
		width: 200px;
	}
}
